:root {
    --main-color: #ffffff;
    --second-color: #f5f5f5;
    --accent-color: #2498ee;
    --hover-color: #1a75bb;
    --text-color: #333333;
    --disable-color: #999999;
    --dark-blue-color: #0a2941;
}